@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --text-color: #272727;
    --background-color:	#ff9d1c;
    --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #05e8ba;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: var(--text-color);
}

main {
    height: 32rem;
    width: 35rem;
    background-color: var(--background-color);
    border-radius: 1rem;
    box-shadow: 2px 2px 1px rgba(255,255,255,0.95);
    padding: 2rem;
}

header {
    height: 9rem;
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
}

header p {
    font-size: 1rem;
    vertical-align: middle;
}

.hands {
    height: 11rem;
    display: flex;
    justify-content: space-between;
}

.hands button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 4rem;
    background-color: #0d6fc0;
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.hands button:hover {
    font-size: 5rem;
    border-radius: 40%;
    /*transform: translateY(10px);*/
    color: black;
    background-color: #05e8ba;
}

.hands button:hover:active {
    transform: scale(1.1);
}

.result {
    text-align: center;
    font-size: 1.1rem;
}

.result button {
    padding: 0.5rem 1.5rem;
    margin-bottom: 2rem;
    background-color: #05e8ba;
    color: var(--text-color);
    font-weight: 700;
    width: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.result button:hover {
    font-size: x-large;
    /*transform: translateY(5px);*/
    color: black;
    background-color: #05e8ba;
}

.result img {
    margin: -300px auto;
    height: 30rem;
    text-align: center;
    border-radius: 50%;
}

.result p {
    margin-bottom: 0.5rem;
}

.result-message {
    padding: 0.5rem 1.5rem;
    background-color: #05e8ba;
    color: var(--text-color);
    font-weight: 700;
    width: 50%;
    margin: 1rem auto;
}

.hidden {
    display: none;
}